.menu-wrapper{
    display:flex;
    flex-direction:column;
}
.pizza-icons{

    width:100%;
    height:600px;
    z-index:1;
}
.pizza-icons img{
    width:100%;
    height:auto;
    max-width:100%;
    max-height:100%;

    
   
 
}
.pizza-txt{
    display:flex;
    position:absolute;
    justify-content: center;
    align-items: center;

    z-index:2;
    padding:2rem;
    width:100%;
    height:600px;
    color:white;
}
.pizza-txt p{
    font-family:'Stencil Std', fantasy;
    text-transform:uppercase;
    text-align:center;
    font-size:24px;
}