.top-pizzas-wrapper{
    margin-top:5%;
    width:100%;
}
.top-pizzas-title{
    width:90%;
    margin-left:5%;
    display:flex;
    justify-content: center;
    padding:1rem;
    background-color: rgb(181, 13, 13);
}
.top-pizzas-title h3{
    color:white;
    font-family:'Stencil Std', fantasy;
    text-transform:uppercase;
    text-align:center;

}
.top-pizzas-items{
    display:grid;
    padding:1rem;
    grid-template: auto / 48% 48%;
    width:90%;
    margin-left:0%;
    margin-top:2%;
    grid-column-gap:30px;
    grid-row-gap:30px;
    animation: move 3s ease 0s 1 normal forwards;
}


@keyframes move{
    0%{
        margin-left:0%;
    }
   
    100%{
        margin-left:5%;
    }
}

.pizza-icon{
    width:100%;
    height:400px;
}
.pizza-icon img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    object-fit:cover;

    object-position:50% 50%;
}
.pizza-icon-mobile{
    display:none;
}
.pizza-items-title{

    background-color: rgb(181, 13, 13);
    padding:0.5rem;
 
    color:white;

    font-size:20px;
    font-family:'Stencil Std', fantasy;
    text-align:center;
}
.about-pizza{
    margin-top:1%;
    font-size:18px;
    font-family:'Stencil Std';
    text-align:center;
}
.pizza-ingredients{
    display:grid;
    grid-template: auto /48% 48%;
    grid-column-gap:30px;
}
.ingre{
    font-family:'Stencil Std', fantasy;
    text-transform:uppercase;
    text-align:center;

}
.top-pizzas-items:nth-of-type(3) .pizza-items{
  
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}
.top-pizzas-items:nth-of-type(3) .pizza-icon{
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}
.top-pizzas-items:nth-of-type(5) .pizza-items{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}
.top-pizzas-items:nth-of-type(5) .pizza-icon{
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}
@media screen and (max-width:500px){
    .pizza-icon{
        display:none;
        width:100%;
        height:250px;
    }
  
    .pizza-icon-mobile{
        display:flex;
        width:100%;
        height:250px;
    }
    .pizza-icon-mobile img{
        width:auto;
        height:auto;
        max-width:100%;
        max-height:100%;
        object-fit:cover;
    
        object-position:50% 50%;
    }
    .top-pizzas-items{
        display:flex;
        flex-direction:column;
        padding:0rem;
      
        width:90%;
        margin-left:0%;
        margin-top:2%;
        grid-column-gap:0px;
        grid-row-gap:0px;
        animation: move 3s ease 0s 1 normal forwards;
    }


}
@media screen and (min-width:501px) and (max-width:950px){
    .top-pizzas-wrapper{
        display:table;
        height:auto;
        margin-top:5%;
        width:100%;
    }
    .pizza-icon{
        display:none;
        width:100%;
        height:250px;
    }
  
    .pizza-icon-mobile{
        display:flex;
        justify-content: center;
        width:100%;
        height:250px;
    }
    .pizza-icon-mobile img{
        width:100%;
        height:auto;
        max-width:100%;
        max-height:100%;
        object-fit:fill;
    
        object-position:50% 50%;
    }
    .top-pizzas-items{
        display:flex;
        flex-direction:column;
        padding:0rem;
      
        width:90%;
        margin-left:0%;
        margin-top:2%;
        grid-column-gap:0px;
        grid-row-gap:0px;
        animation: move 3s ease 0s 1 normal forwards;
    }


}